body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}


.topbar {
    background-color: #2e58a6;
    color: white;
    text-align: center;
    padding: 10px;
    
}




.logo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #2e58a6;
    
}


.search {
    text-align: center;
    padding: 10px;
}

.search input {
    padding: 8px;
    width: 250px;
}

.search button {
    padding: 8px;
    background-color: orange;
    color: white;
    border: gray;
}

.banner img{
    display: inline-block;
}



.section {
    text-align: center;
    padding: 30px;
}



.book{
   
    display: inline-block;
    width: 300px;
    background: white;
    padding: 20px;
    vertical-align:top;
    font-family: Arial, sans-serif;
   
}


.book img {
    
    width: 100%;
    height: 400px;
    display: block;
}

.in-stock {
        color: white;
        background-color: orange;
        border: 1px;
        padding-top: 1px;
}

.product-stock {
        display: inline-block;
        font-size: 90%;
        padding: 3px 3px 3px 3px;
}
    
.cart{
    text-align: center;
}
.cart img{
      
    display: block;
    margin: 10px auto;
    width: 30px;
    height: auto;
    
}

.author{
    color: gray;
}

.categories {
    position: sticky;
    top: 0;                
    background: #f4f4f4;
    z-index: 1000;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.categories ul {
    margin: 0;
    padding: 15px 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    color: #2c3e94;
}

.categories li {
    cursor: pointer;
}

.categories li:hover {
    color: orange;
}
